
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Fredoka+One&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --FONT-PRIMARY:"Baloo da 2", serif; 
    --FONT-SECUNDARY: "Josefin Slab", serif; 
    --FONT-ACTIONS:"Muli", serif; 

}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #323232d1;

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    opacity: 0.8;
    animation: zoom 20s;
}


.banner{
    position: absolute;
    top: 35%; 
    left: 5%;
}
.banner h1{
    color: rgb(255, 255, 255);
    font-size: 4.2rem;
    font-family:var(--FONT-PRIMARY);
    font-weight: 500;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .3);
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: moveTextBanner 1s 0.5s forwards ;
}
.banner p{
    font-family:var(--FONT-SECUNDARY);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: .2rem .2rem  rgba(0, 0, 0, .3);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveTextBanner 1s 0.7s forwards ;
}
.banner button{
    font-family:var(--FONT-ACTIONS);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem ;
    background: #a80dd7; 
    background: -webkit-linear-gradient(to right, #931e5e, #df21ed); 
    background: linear-gradient(to right, #fb058d, #38013c);
    padding: 1rem 3rem ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveTextBanner 1s 0.9s forwards ;
}
.banner button:hover{
    opacity: 0.6;
}




/* create keyframes banner*/
@keyframes zoom {
    0%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}

@keyframes moveTextBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg)
     }
    100%{
        transform: translateY(0) rotateY(0);
        opacity:1;
    }
}
