
body{
    

    background-color: #f6f9ff;
}
.character-search{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 5%;
    padding-bottom: 65px;
}
input.character-search-input{
    width: 500px;
    height: 55px;

    
    color: rgb(31, 3, 25);
    font-size: 1.2rem;
    border: 2px solid #fff;

    padding-left: 1rem;
    
    border-radius: 10px;

    background-color: #fff;
    outline: none;  
    opacity: 0;
    animation: moveTextBanner 1s 0.5s forwards ;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   opacity: 0;
   animation: moveTextBanner 2s 0.7s forwards ;

}
.card{
    display: flex;
    background: -webkit-linear-gradient(to right, #931e5e, #5d1262); 
    background: linear-gradient(to right, #5d1262, #150915);
    width: 400PX;
    margin: 20px;
    border-radius: 25px;
    align-items: center;
    

    
    
}
.card-img-wrapper{
    width:100%;
    padding: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    padding-left: 3px;

}
img{
    
  
    border-radius: 15px;
}
p{
    color: #f6f9ff;
}

h1.title{
    font-size:30px ;
    color: #fff;
}
p.status{
    font-size: 1.5rem;
}
p.species{
    font-size: 1.3rem;
}
p.gender p.location{
    font-size: 1.2rem;
} 
.card-img-wrapper{
   width: 200px;
    display: flex;
    
}
.card-img-wrapper img{
    width: 100%;
}

@keyframes zoom {
    0%{
        transform: scale(1.3)
    }
    100%{
        transform: scale(1)
    }
}

@keyframes moveTextBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg)
     }
    100%{
        transform: translateY(0) rotateY(0);
        opacity:1;
    }
}
